<div style="font-family: 'Helvetica Neue', Arial, 'Hiragino Sans', 'Meiryo', sans-serif;">
  <h2 style="color: #009fe8; margin-bottom: 1.5em;">パスワード再設定のご案内</h2>
  <p><%= @resource.email %> 様</p>
  <p>パスワードの変更をリクエストされました。下記のリンクからパスワードを変更できます。</p>
  <p style="margin: 2em 0;">
    <%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token), style: 'display: inline-block; background: #009fe8; color: #fff; padding: 12px 32px; border-radius: 8px; text-decoration: none; font-weight: bold;' %>
  </p>
  <p>このリクエストをしていない場合は、このメールを無視してください。<br>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>
</div>
